* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Freeman', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,42,58,1) 33%, rgba(9,188,138,1) 100%);   
}
:root {
    --primary-color: #09bc8a;
    --secundary-color: #004346;
    --background-color: #172a3a;
    --font-color: #75dddd;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

#search-input{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    margin-top: 8px;
    padding: 8px;
}
